@import "../../../assets/styles/mixin/typography-mixin",
  "../../../assets/styles/variable",  "../../../assets/styles/mixin/display-mixin";

.click-btn {
  @include flex-container( row, center, center );
  border: 1px solid #000000;
  box-sizing: border-box;
  padding: 5px 24px;
  cursor: pointer;
  @include btn-text();
  height: 1000px;
  width: 206px;
  height: 48px;
  .icon-container {
    display: none;
  }
}
.primary-black {
  padding: 5px 24px;
  background-color: $primary-dark;
  color: white;
}

.primary-gray {
  background-color: $primary-gray;
  padding: 5px 24px;
  color: white;
}

.secondary {
  background: none;
  color: black;
  padding: 5px 15px;
}
.secondary-black {
  background-color: $primary-dark;
  padding: 5px 15px;
  color: white;
}

.icon-btn {
  padding: 5px 16px;
  gap: 10px;
  .icon-container {
    display: block;
    width: 21px;
    height: 24px;
  }
}
.disabled {
  background-color: $secondary-gray;
  cursor: no-drop;
}
