@import "../../assets/styles/animation",
  "../../assets/styles/mixin/display-mixin", "../../assets/styles/variable",
  "../../assets/styles/mixin/media-queries";

.nav-bag-container {
  @include Appeared();
  position: absolute;
  top: 46px;
  left: 0px;
  background-color: white;
  z-index: 998;
  @include flex-container(column, center, center);
  @include desktop() {
    top: 64px;
    left: 1050px;
  }
}
.nav-bag-container > * {
  width: 380px;
}
.empty-bag-container {
  position: relative;
  background-color: white;
  @include flex-container(column, center, center);
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
  padding: 0px;
  gap: 20px;
  @include desktop() {
    width: 497px;
    height: 200px;
  }
  .bag-icon {
    width: 55px;
    height: 55px;
  }
  h2{
    width: 145px;
  }
}

