@import "../../assets/styles/mixin/media-queries";
.restaurants-container {
  padding-left: 20px;
  @include desktop(){
    margin-top: 776px;
  }
  .desktop-card {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }
  .popular-container {
    margin: 48px 0px 16px 0px;
  }
  .popular-container {
  }
  .link-to-restaurants {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    @include desktop() {
      margin-right: 127px;
      margin-top: 41px;
      justify-content: flex-end;
      h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
      }
    }
    .arrow-icon {
      width: 24px;
      height: 24px;
    }
  }
}
