.dropdown {
  position: relative;
}
.dropdown-content {
  position: absolute;
  top: 100%;
  left: -83px;
  z-index: 400;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: max-content;
}
.dropdown-content p {
  margin: 8px 0;
}
